.shadow-pop-bl {
	animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
@keyframes shadow-pop-bl {
  0% {
    box-shadow: 0 0 $accent-green, 0 0 $accent-green, 0 0 $accent-green, 0 0 $accent-green, 0 0 $accent-green, 0 0 $accent-green, 0 0 $accent-green, 0 0 $accent-green;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px 1px $accent-green, -2px 2px $accent-green, -3px 3px $accent-green, -4px 4px $accent-green, -5px 5px $accent-green, -6px 6px $accent-green, -7px 7px $accent-green, -8px 8px $accent-green;
    transform: translateX(8px) translateY(-8px);
  }
}


.tracking-in-expand {
  animation: tracking-in-expand .75s cubic-bezier(0.215, 0.610, 0.355, 1.000) .25s both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}