// Neutral
$neutral-50:  #F9FAFA;
$neutral-100: #EEEFF1;
$neutral-200: #DDE0E2;
$neutral-300: #C1C6CB;
$neutral-400: #99A1A9;
$neutral-500: #77828D;
$neutral-600: #636D76;
$neutral-700: #50585F;
$neutral-800: #3D4349;
$neutral-900: #2A2E32;

// Accent
$accent-green: #50FA7B;
$accent-blue:  #8BE9FD;

// Shades
$shade-0:   #FFFFFF;
$shade-100: #000000;